Diagnostics:
  ClangTidy:
    Add: 
        - readability-*
        - bugprone-*
    Remove:
        - readability-magic-numbers
        - readability-identifier-length
        - readability-math-missing-parentheses
        - readability-uppercase-literal-suffix
        - readability-braces-around-statements
        - readability-convert-member-functions-to-static
        - bugprone-easily-swappable-parameters
    CheckOptions:
      readability-identifier-naming.VariableCase: camelBack
      readability-identifier-naming.FunctionCase: camelBack
